.deleteButton {
  margin-top: 5px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  cursor: pointer;
  font-size: 2vh;
}

.icon-container {
  position: relative;
  bottom: -3px;
  height: 2vh;
  flex-direction: column;
  margin-right: 4px;
  opacity: 0.7;
}

.content {
  font-size: 2vh;
}

.edit-link {
  font-size: 2.5vh;
}

.edit-link:link {
  text-decoration: none;

}

.edit-link:hover {
  border-bottom: 2px solid #b393d3;
  width: fit-content
}

