.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App-header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.home-link:link,.home-link:link,.home-link:link, .home-link:link {
  text-decoration: none;
  color: #FFFFFF;
}

h3 {
  text-align: center;
}

@media (max-width: 900px) {
  .sc-eDvSVe{
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .App-container{
    padding-top: 125px;
    padding-bottom: 75vh;
    /* width: 100%;
    height: 100% */
  }
  .sc-eDvSVe {
    align-items: center;
  }
}





