.contentInput {

  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  /* width: 350px; */
  width: 35vw;
  margin-right: 10px;
  font-size: 2.5vh;
}

.dateInput {
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  margin-right: 10px;
  font-size: 2.5vh;
}

.columnInput{
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  margin-right: 10px;
  font-size: 2.5vh;
}

.addButton {
  margin-top: 5px;
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  font-size: 2.5vh;
  cursor: pointer;
}

.contentInput:focus { 
  outline: none !important;
  border-color: #b393d3;
  box-shadow: 0 0 10px #719ECE;
}

.dateInput:focus {
  outline: none !important;
  border-color: #b393d3;
  box-shadow: 0 0 10px #719ECE;
}

.columnInput:focus {
  outline: none !important;
  border-color: #b393d3;
  box-shadow: 0 0 10px #719ECE;
}

.addButton:focus {
  outline: none !important;
  border-color: #b393d3;
  box-shadow: 0 0 10px #719ECE;
}

